{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Inscription</h1>
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}