<section class="panel">
    <div class="panel-body bio-graph-info">
        <h1>Détails Article</h1>
        <div class="row">
            <div class="bio-row">
                <p><span><strong>Reference </strong></span>: {{ article.AR_Ref }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Design </strong></span>: {{ article.AR_Design }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Code famille </strong></span>: {{ article.FA_CodeFamille }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Intitulé </strong></span>: {{ article.FA_Intitule }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Prix de vente </strong></span>: {{ article.AR_PrixVen|number_format(3) }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Code barre </strong></span>: {{ article.AR_CodeBarre }}</p>
            </div>

            <div class="bio-row">
                <p><span><strong>Pays </strong></span>: {{ article.AR_Pays }} </p>
            </div>
        </div>
    </div>
</section>