{% extends 'basecommercial.html.twig' %}
{% block title %}Liste des articles{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatables') }}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock javascripts %}
{% block body %}
    {{ parent() }}
    <div class="container">

        <div class="col-md-12">
            <h2>Liste des articles</h2>

            <div class="alert alert-success fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                En cliquant sur une ligne de la table, vous allez pouvoir acceder à plus de détails
            </div>
            <table id="articles_list" class="table table-striped table-bordered nowrap table-hover" style="width:100%">
                <thead>
                <tr>
                    <th>Ref</th>
                    <th>Design</th>
                    <th>Code Famille</th>
                    <th>Intitulé Famille</th>
                    <th>Prix vente</th>
                    <th>Code barre</th>
                    <th>Stock</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr class="clickable" data-href="{{ path('article_details',{ref : article.slug}) }}">
                        <td>{{ article.AR_Ref }}</td>
                        <td>{{ article.AR_Design }}</td>
                        <td>{{ article.FA_CodeFamille }}</td>
                        <td>{{ article.FA_Intitule }}</td>
                        <td>{{ article.AR_PrixVen|number_format(3) }}</a></td>
                        <td>{{ article.AR_CodeBarre }}</td>
                        <td>{{ article.stock }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#articles_menu').addClass("active");
            var table = $('#articles_list').DataTable( {
                responsive: true
            } );
            $('table tbody tr.clickable').on('click', 'td', function () {
                if($(this).index() || !table.responsive.hasHidden()){
                    window.location.href = $(this).parent().data('href');
                }
            } );
        } );
    </script>
{% endblock %}