<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('header') }}
        {% endblock %}
    </head>
    <body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('header') }}
        {% endblock %}
            <section id="container">
                {{ include('header.html.twig') }}
                <!--header end-->
                <!--sidebar start-->
                {% block leftmenu %}
                {% endblock %}
                <!--sidebar end-->
                <section id="main-content">
                    <section class="wrapper">
                        {% block body %}
                        {% endblock %}
                    </section>
                </section>
            </section>

    </body>
</html>
