<div class="container">
    <table id="client_documents_lines" class="table table-striped table-bordered nowrap table-hover" style="width:100%">
        <thead>
        <tr>
            <th>Piece</th>
            <th>Date</th>
            <th>Reference</th>
            <th>Intitulé</th>
            <th>Article</th>
            <th>Quantité</th>
            <th>PU</th>
            <th>MTHT</th>
            <th>MTTTC</th>
        </tr>
        </thead>
        <tbody>
        {% for document in lines %}
            <tr>
                <td>{{ document.DO_Piece }}</td>
                <td>{{ document.DO_Date }}</td>
                <td>{{ document.Ref_Document }}</td>
                <td>{{ document.DE_Intitule }}</a></td>
                <td>{{ document.AR_Ref }}</a></td>
                <td>{{ document.DL_Qte|number_format(0) }}</td>
                <td>{{ document.DL_PrixUnitaire|number_format(3) }}</td>
                <td>{{ document.DL_MontantHT|number_format(3) }}</td>
                <td>{{ document.DL_MontantTTC|number_format(3) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        var currentId;
        var table = $('#client_documents_lines').DataTable( {
            responsive: true
        } );/*
        $('#client_documents tbody ').on('click', 'tr', function () {
            window.location.href = $(this).data('href');
        } );*/

    } );
</script>