<section class="panel">
    <div class="panel-body bio-graph-info">
        <h1>Détails Client</h1>
        <div class="row">
            <div class="bio-row">
                <p><span><strong>Code client </strong></span>: {{ client.Code_Client }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Intitulé </strong></span>: {{ client.CT_Intitule }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Contact: </strong></span>: {{ client.CT_Contact }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Adresse </strong></span>: {{ client.CT_Adresse }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Code postal </strong></span>: {{ client.CT_CodePostal }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Ville </strong></span>: {{ client.CT_Ville }}</p>
            </div>

            <div class="bio-row">
                <p><span><strong>Code Région </strong></span>: {{ client.CT_CodeRegion }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Pays </strong></span>: {{ client.CT_Pays }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Identifiant: </strong></span>: {{ client.CT_Identifiant }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Télephone </strong></span>: {{ client.CT_Telephone }} </p>
            </div>
            <div class="bio-row">
                <p><span><strong>Télecopie </strong></span>: {{ client.CT_Telecopie }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>Email </strong></span>: {{ client.CT_EMail }}</p>
            </div>
            <div class="bio-row">
                <p><span><strong>En cours </strong></span>: {{ client.CT_Encours|number_format(3) }}</p>
            </div>
        </div>
    </div>
</section>
