<div class="container">
    <table>
        <tr>
            <td>
                <strong>Code client: </strong>
            </td>
            <td>{{ client.Code_Client }}</td>
        </tr>
        <tr>
            <td>
                <strong>Intitulé: </strong>
            </td>
            <td>
                {{ client.CT_Intitule }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Contact: </strong>
            </td>
            <td>
                {{ client.CT_Contact }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Adresse: </strong>
            </td>
            <td>
                {{ client.CT_Adresse }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Complement adresse: </strong>
            </td>
            <td>
                {{ client.CT_Complement }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Code postal: </strong>
            </td>
            <td>
                {{ client.CT_CodePostal }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Ville: </strong>
            </td>
            <td>
                {{ client.CT_Ville }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Code Région: </strong>
            </td>
            <td>
                {{ client.CT_CodeRegion }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Pays: </strong>
            </td>
            <td>
                {{ client.CT_Pays }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Identifiant: </strong>
            </td>
            <td>
                {{ client.CT_Identifiant }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Télephone: </strong>
            </td>
            <td>
                {{ client.CT_Telephone }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Télecopie: </strong>
            </td>
            <td>
                {{ client.CT_Telecopie }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Email: </strong>
            </td>
            <td>
                {{ client.CT_EMail }}
            </td>
        </tr>
    </table>

</div>