{% extends 'basecommercial.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('datatables') }}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock javascripts %}
{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user-md"></i> Client {{ client.CT_Intitule }}</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{{ path('clients_list') }}">Clients</a></li>
                <li><i class="fa fa-user-md"></i>Client</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!-- profile-widget -->
        <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
                <div class="panel-body">
                    <div class="col-lg-2 col-sm-2">
                        <h4>NOTNOTNOT</h4>
                        <h6>Role</h6>
                    </div>
                    <div class="col-lg-4 col-sm-4 follow-info">
                        <p>text text text</p>
                        <h6>
                            <span><i class="icon_clock_alt"></i>11:05 AM</span>
                            <span><i class="icon_calendar"></i>25.10.13</span>
                            <span><i class="icon_pin_alt"></i>NY</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel tabs">
                <header class="panel-heading tab-bg-info">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a class="nav-link" data-toggle="tab" href="#client_data">
                                <i class="icon-home"></i>
                                Details
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" id="nav-documents-tab" data-toggle="tab" href="#nav-documents">
                                <i class="icon-user"></i>
                                Vente documents
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" id="nav-documents-article-tab" data-toggle="tab" href="#nav-documents-article">
                                <i class="icon-envelope"></i>
                                Vente documents par article
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" id="nav-documents-line-tab" data-toggle="tab" href="#nav-documents-line">
                                <i class="icon-envelope"></i>
                                Factures non réglées
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <!-- profile -->
                        <div id="client_data" class="tab-pane active">
                            {{ include('clients/clientDetails.html.twig') }}
                        </div>
                        <!-- edit-profile -->
                        <div id="nav-documents" class="tab-pane">
                        </div>
                        <div id="nav-documents-article" class="tab-pane">
                        </div>
                        <div id="nav-documents-line" class="tab-pane">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#clients_menu').addClass("active");
            var clientId = '{{ client.Code_Client }}';

            $("#nav-documents-tab").on('click',function(event) {
                var url = '{{ path('getdocumentsforcurrentclient',{id : 'clientId'}) }}';
                url = url.replace('clientId',clientId);
                $.ajax({
                    type: "POST",
                    url:url,
                    success: function(data) {
                        $("#nav-documents").append(data.response);
                    }
                });
                $(this).off('click');
            });
            $("#nav-documents-article-tab").on('click',function(event) {
                var url = '{{ path('getdocumentsforcurrentclientbyarticles',{id : 'clientId'}) }}';
                url = url.replace('clientId',clientId);
                $.ajax({
                    type: "POST",
                    url:url,
                    success: function(data) {
                        $("#nav-documents-article").append(data.response);
                    }
                });
                $(this).off('click');
            });
            $("#nav-documents-line-tab").on('click',function(event) {
                var url = '{{ path('getlinedocumentsforcurrentclient',{id : 'clientId'}) }}';
                url = url.replace('clientId',clientId);
                $.ajax({
                    type: "POST",
                    url:url,
                    success: function(data) {
                        $("#nav-documents-line").append(data.response);
                    }
                });
                $(this).off('click');
            });
        });
    </script>
{% endblock %}